<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Loja do Augusto</title>
</head>
<body>
    Pagina inical<br>
    <img src="https://a-static.mlcdn.com.br/80X80/ponteira-de-arvore-de-natal-estrela-20cm-ouro-1141674-cromus/magazineluiza/232249900/8ae6f927b50619b9e1a1b152647644e4.jpg"
    alt="Empresa logo"> 
    <p>Nome: {{ n }}</p>
    <table border="1">
        {% for prod in aProdutos %}
        <tr>
            <td>{{ prod.Categoria }}</td> 
            <td>{{ prod.Quantidade }}</td>
        </tr>
        {% endfor %}
    </table>
    <p></p>
</body>
</html>